body{
  background: red;
}
#list{
  position:relative;
  bottom:10px;
}
ul{
  list-style-type: none;
}

li{
  height:40px;
  line-height:40px;
  border:1px solid;
  background:lightgrey;
  color:white;
  padding:0px 10px;
}

p{
  display:flex;
  margin:0;
  font-size:25px;
}
span{

/*   color:black; */
  width:50px;
}
.key{
  width:200px;
}
.value{

}

.button a{
  margin-top:20px;
}
.outer{
  background:white;
  width:100vw;
  height:100%;
  display:flex;
/*   flex-direction:column; */
  flex-wrap:wrap;
}
.rr{
  border:1px solid grey;
  width:33vw;
  height:80px;
  display:flex;
  line-height:60px;
  padding:10px;
  font-size:20px;
}

.card{
  text-align:center;
}

.status{
  color:grey;
}
.units{
  color:white;
  background:#3167b2;
}
.units span{
  color:white;
  margin:0 10px;
}
